.subpage {
	position: relative;
	height: 560px;
	overflow: hidden;
	background-color: #000;
}

.bgimg {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: no-repeat center/cover;
	opacity: 0.6;
	background-image: url(../img/26c1f8bb-0604-491e-baae-fcc0fb766956.jpg);
	background-position-y: 50%;
}

.subpage-bo-box {
	background-color: #fff;
}

.subpage-bo {
	max-width: 1620px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.subpage-bo ul {
	display: flex;
}

.subpage-bo ul li a {
	display: block;
	margin: 25px 0;
	padding: 0 20px;
	position: relative;
	color: #333;
	text-transform: uppercase;
	float: left;
	font-size: 16px;
	transition: all 0.5s;
	border-right: #ccc solid 1px;
}

.subpage-bo ul li a:hover {
	color: red;
}

.subpage-bo ul li a::after {
	position: absolute;
	bottom: -25px;
	left: 50%;
	width: 0%;
	height: 3px;
	display: block;
	background: #e60012;
	content: "";
	transform: translateX(-50%);
	transition: all .5s;
}

.subpage-bo ul li a:hover::after {
	width: 80%;
}

.subpage-box {
	display: flex;
	margin: 25px 0;
	font-size: 14px;
}

.subpage-box div:nth-child(2) {
	margin: 0 5px;
}

.subpage-box div a {
	color: #333;

}

.text {
	position: absolute;
	width: 90%;
	color: #fff;
	text-align: center;
	top: 54%;
	left: 5%;
	line-height: 1.6;
	transform: translate(0, -50%);
	z-index: 4;
}

.text div:nth-child(1) {
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 5px;
}

.text div:nth-child(2) {
	height: 2px;
	width: 50px;
	background: #fff;
	margin: 20px auto;
}

.text div:nth-child(3) {
	font-size: 26px;

	letter-spacing: 2px;
	font-weight: 300;
}

.subpage-box {
	display: flex;
	margin: 25px 0;
	font-size: 14px;
}

.subpage-box div:nth-child(2) {
	margin: 0 5px;
}

.subpage-box div a {
	color: #333;

}

.icon-ditu {
	color: red;
}

@media only screen and (max-width:768px) {
	.subpage-bo {
		width: 100%;
		flex-wrap: wrap;
	}

	.subpage-show {
		width: 100%;
		display: block;
	}

	.subpage-show-tit {
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
		text-align: left;
		background: #333;
		padding: 20px 0;
		color: #fff;
	}

	.category {

		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 100%;
		transition: left .3s;
		z-index: 9999;
		display: flex;
	}

	.category-hides {
		left: 0;
	}

	.category-hidess {
		left: 100%;
	}

	.category-icon {
		background: #333;
		width: 10%;
		height: 100%;
		padding: 0;
	}

	.category-icon i {
		width: 100%;
		height: 40px;
		display: block;
		text-align: center;
		line-height: 40px;
		margin-top: 120px;
		color: #fff;
	}

	.category-text {
		background: #fff;
		overflow-y: auto;
		width: 90%;
		height: 100%;
	}

	.category-text-div {
		padding: 5px 0;
		display: flex;
	}

	.category-text div a {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 10px 5px;
		color: #707070;
	}

	.category-text-hide {
		padding: 20px 0 !important;
	}

	.category-text div:hover {
		background: red;
	}

	.category-text div i {
		display: inline-block;
		width: 30px;
		line-height: 40px;
	}

	.category-text-hide {

		background: #efeff4;
		display: none;
	}

	.category-hide-show {
		display: block !important;
	}

	.category-text-hide a {
		padding-left: 20px !important;
	}

	.subpage-bo ul {
		display: none;
	}

	.subpage-main {
		flex-wrap: wrap;
	}

	.subpage-main-text {
		width: 100%;
	}

	.subpage-main-text div:nth-child(1) {
		font-size: 24px;
	}

	.subpage-main-text div:nth-child(2) {
		font-size: 20px;
	}

	.text-con div p {
		font-size: 12px;
	}

	.subpage-main-img {
		width: 100%;
	}

	#suspen {
		display: none;
	}
}

@media only screen and (min-width:769px) {

	.subpage-show {
		display: none;
	}
}

/* 发展历程 */
.process {
	width: 100%;
	max-width: 1620px;
	margin: 0 auto;
	background: #fff;
	padding: 30px 0;
}

.process-tit {
	padding-top: 3rem;
	margin-bottom: 50px;
}

.process-tit p {
	font-size: 60px;
	color: #eee;
	text-align: center;
}

.process-tit h3 {
	font-size: 36px;
	text-align: center;
	color: #222;
}

.process-tit h3 span {
	color: #e60012;
}

#swiper-history {
	width: 94%;
	position: relative;
}

#swiper-history .swiper-container {
	height: 410px;
	margin: 0 40px;
}

#swiper-history .short-line {
	height: 72px;
	border-bottom: 1px dashed #e60012;
	width: 30px;
	position: absolute;
	top: 0px;
}

#swiper-history .long-line {
	height: 72px;
	border-bottom: 5px solid #007aff;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 30px;
}

#swiper-history .swiper-slide span {
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	transition: 700ms;
}

#swiper-history .swiper-slide .detail {
	height: 20px;
	line-height: 20px;
	top: 27px;
	color: #444;
	opacity: 0;
}

#swiper-history .swiper-slide .date {
	color: #444;
	font-size: 18px;
	position: absolute;
	top: 20px;
	opacity: 0;
}

#swiper-history .swiper-slide-active span {
	transition: 700ms 700ms;
}

#swiper-history .swiper-pagination-bullets {
	white-space: nowrap;
	width: auto;
	top: 67px;
	height: 10px;
	line-height: 10px;
	transition: 700ms;
}

#swiper-history .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0;
}

#swiper-history .swiper-pagination-bullet {
	background: #007aff;
	opacity: 1;
	line-height: 10px;
	width: 17px;
	height: 17px;
}

#swiper-history .swiper-pagination-bullet-active {
	background-color: #e60012;
}

#swiper-history .swiper-button-next,
#swiper-history .swiper-button-prev {
	background-size: 20px auto;
}

.swiper-pagination-bullet:nth-child(1) {
	margin-left: -690px !important;
}

.swiper-pagination-bullet:nth-child(2) {
	margin-left: 360px !important;
}

.swiper-pagination-bullet:nth-child(3) {
	margin-left: 335px !important;
}

.swiper-pagination-bullet:nth-child(4) {
	margin-left: 335px !important;
}

.swiper-pagination-bullet:nth-child(5) {
	margin-left: 320px !important;
}

.swiper-pagination-bullet:nth-child(6) {
	margin-left: 390px !important;
}

.swiper-pagination-bullet:nth-child(7) {
	margin-left: 320px !important;
}

.swiper-pagination-bullet:nth-child(8) {
	margin-left: 320px !important;
}

.process-content {
	width: 100%;
	max-width: 1620px;
	height: 370px;
	position: relative;
	top: -410px;
	left: 100px;
	margin: 0 auto;
}

.process-left {
	width: 100%;
	position: relative;
}

.line {
	position: absolute;
	display: block;
	width: 1px;
	height: 185px;
	background: #ff0000;
	left: 0px;
	top: 10px;
}
